body {

}
.navbar .navbar-nav {
    display: inline-block;
    float: none;
}
.navbar .navbar-collapse {
    text-align: center;
}
.navbar {
    margin-bottom: 0px;
}
.page-header {
    text-align: center;
    background-color: lightgrey;
    margin: 0px;
    padding-top: 5px;
}
h1 h2 {
    margin:0px;
    padding:0px;
}
#googleFont {
    font-family: 'Damion', cursive;
    font-size: 60px;
}
.andysHouse {
  width: 5000px;
}